.example-container {
  text-align: center;
}

.form-container {
  width: 400px;
  margin: 0px auto;
  margin-top: 100px;
  height: 100vh;
}

.form-field {
  display: block;
  .mat-form-field-appearance-outline {
    &.mat-form-field-outline {
      top: 1.25em !important;
    }
  }
}

.login {
  font-size: 30px;
  padding: 0 0 20px 0;
}
